#tabs ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
   }
   #tabs ul li {
    float: left;
   }
   #tabs ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease;
   }
   #tabs ul li a:hover {
    background-color: #eaeaea;
   }
   #tabs ul li a.active {
    background-color: #ccc;
   }
   #content {
    padding: 20px;
    border: 20px solid #ccc;
    background-color: #f9f9f9;
   }
   #content ul {
    list-style-type: none;
    padding: 10px;
   }
   #content ul li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   }